# Flask基础配置
FLASK_ENV=production
FLASK_DEBUG=0
WTF_CSRF_ENABLED=false

# 服务配置
SERVICE_IP=127.0.0.1
SERVICE_API_PREFIX=http://localhost/api
JWT_SECRET_KEY=change-me

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=llmops123456
POSTGRES_DB=llmops
PGUSER=postgres
PGDATA=/var/lib/postgresql/data/pgdata
SQLALCHEMY_DATABASE_URI=postgresql://postgres:llmops123456@llmops-db:5432/llmops?client_encoding=utf8
SQLALCHEMY_POOL_SIZE=30
SQLALCHEMY_POOL_RECYCLE=3600
SQLALCHEMY_ECHO=false

# Redis
REDIS_HOST=llmops-redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=llmops123456
REDIS_DB=0
REDIS_USE_SSL=false

# Weaviate
WEAVIATE_HTTP_HOST=llmops-weaviate
WEAVIATE_HTTP_PORT=8080
WEAVIATE_GRPC_HOST=llmops-weaviate
WEAVIATE_GRPC_PORT=50051
WEAVIATE_API_KEY=change-me
WEAVIATE_API_USER=llmops@example.com
WEAVIATE_COLLECTION_NAME=DatasetTextEmbedding3Large

# Celery
CELERY_BROKER_DB=1
CELERY_RESULT_BACKEND_DB=1
CELERY_TASK_IGNORE_RESULT=true
CELERY_RESULT_EXPIRES=3600
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=true

# 默认初始化账号
DEFAULT_ACCOUNT_EMAIL=admin@example.com
DEFAULT_ACCOUNT_PASSWORD=change-me

# 辅助Agent智能体应用id标识
ASSISTANT_AGENT_ID=6774fcef-b594-8008-b30c-a05b8190afe6
ASSISTANT_AGENT_MODEL_PROVIDER=openai
ASSISTANT_AGENT_MODEL=gpt-4o-mini
ASSISTANT_AGENT_TEMPERATURE=0.8
ASSISTANT_AGENT_MAX_TOKENS=1024

# OpenAI兼容服务
OPENAI_API_KEY=
OPENAI_API_BASE=
OPENAI_EMBEDDING_MODEL=text-embedding-3-large

# DeepSeek
DEEPSEEK_API_KEY=
DEEPSEEK_API_BASE=https://api.deepseek.com

# 百度千帆
qianfan_ak=
qianfan_sk=
QIANFAN_API_KEY=

# 月之暗面 / 通义千问
MOONSHOT_API_KEY=
DASHSCOPE_API_KEY=

# 内置工具
GAODE_API_KEY=
SERPER_API_KEY=

# 腾讯云COS对象存储
COS_SECRET_ID=
COS_SECRET_KEY=
COS_REGION=ap-guangzhou
COS_SCHEME=https
COS_BUCKET=
COS_DOMAIN=

# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:5173/auth/authorize/github

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=LLMOpsDev

# HuggingFace
TRANSFORMERS_OFFLINE=0
